<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :food %>
    <%# collection_check_boxes(
      :recipe, 
      :food_ids, 
      @foods, 
      :id, 
      :name)
    %>

    <% @foods.each do |food| %>
      <input type="checkbox" value="<%= food.id %>" name="recipe[food_ids][]" id="recipe_food_ids_<%= food.id %>">
      <label for="recipe_food_ids_<%= food.id %>"><%= food.name %></label>

      <input type="text" name="food_amounts[<%= food.id %>]">
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit class: "button success" %>
  </div>
<% end %>
