<p id="notice"><%= notice %></p>

<div class="row">
  <h1>Listing Recipes</h1>

  <ul class="small-block-grid-3 recipes-list"> 

    <% @recipes.each do |recipe| %>
      <li>
        <div class="recipes-list-item">
          <h3><%= recipe.title %></h3>
          <% puts recipe.recipe_foods.inspect %>
          <% if recipe.foods %>
            <ul>
              <% recipe.foods.each do |ingredient| %>
                <li>
                  <%= ingredient.name %> - 
                  <%= ingredient.name %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <div class="actions">
            <%= link_to(recipe, class: "button tiny") do %>
              <i class="fa fa-play"></i> Show
            <% end %>

            <%= link_to(edit_recipe_path(recipe), class: "button tiny") do %>
              <i class="fa fa-pencil"></i> Edit
            <% end %>

            <%= link_to(recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny") do %>
              <i class="fa fa-remove"></i> Delete
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'New Recipe', new_recipe_path, class: "button success" %>
