<p id="notice"><%= notice %></p>

<div class="row">
  <h1>Listing Foods</h1>

  <ul class="small-block-grid-3 recipes-list"> 

    <% @foods.each do |food| %>
      <li>
        <div class="recipes-list-item">
          <h3><%= food.name %></h3>

          <div class="actions">
            <%= link_to(food, class: "button tiny") do %>
              <i class="fa fa-play"></i> Show
            <% end %>

            <%= link_to(edit_food_path(food), class: "button tiny") do %>
              <i class="fa fa-pencil"></i> Edit
            <% end %>

            <%= link_to(food, method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny") do %>
              <i class="fa fa-remove"></i> Delete
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'New Food', new_food_path, class: "button success" %>
